body{
  background-color: #f0f2f5;
  position: relative;
  width: 100%;
  font-size: 100%;
  overflow: scroll;
}

header{
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 1px 20px -12px black;
  position: fixed;
  top: 0;
  z-index: 5;
}

.welcome{
  font-size: 0.8rem;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 7%;
  margin-left: 1%;
}

.welcomenick{
  font-size: 1.1rem;
  color: #1877f2;
}

title{
  font-size: larger;
  font-weight: bold;
}

.fileupload {
  position: absolute;
  top: 21.2%;
  right: 17%;
  float: right;
}

.gender{
  display: flex;
  margin-left: 45%;
}

.logopng{
  width: 150px;
  height: 50px;
  position: fixed;
  left: 0;
  z-index: 2147483647;
}

.logotext{
  float: left;
}

.headersearch{
  border: none;
  background-color: #f0f2f5;
  border-radius: 100px;
  width: 230px;
  height: 38px;
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.loginpng{
  margin-right: 0px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: #e4e6eb;
  padding: 8px;
}

.loginpng2{
  width: 100%;
  height: 35px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid black;
  z-index: 8;
  font-size: 1rem;
  display: block;
  line-height: 2.2;
  margin-top: 12px;
}

.loginpng3{
  margin-right: 20px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
}

.loginpng4{
  margin-right: 65px;
  width: 60%;
  height: 35px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid black;
  z-index: 8;
  font-size: 1rem;
  display: block;
  margin-top: 12px;
  line-height: 2.2;
}

.loginpng:hover{
  border: 2px solid #c2c5ca;
  background-color: #c2c5ca;
}

.loginpng2:hover{
  color: white;
  background-color: #1877f2;
  border: 2px solid #1877f2;
}

.loginpng4:hover{
  color: white;
  background-color: #1877f2;
  border: 2px solid #1877f2;
}

a{ text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none;
}

li{
  list-style: none;
  display: flex;
  float: right;
}

ul{
  margin-left: 30px;
  margin-right:50px;
}

main{
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
}

.map{
  box-sizing: border-box;
  width: 45%;
  height: 65vh;
  border-radius: 15px;
  margin-top: 5%;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
  margin-left: 28%;
}

.map2{
  box-sizing: border-box;
  width: 45%;
  height: 600px;
  border-radius: 15px;
  margin-top: 5%;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
  margin-left: 28%;
  font-size: 5rem;
  text-align: center;
  line-height: 50vh;
}

/*my page*/
.map3{
  box-sizing: border-box;
  width: 100%;
  height: 800px;
  border-left: 1px solid #d2d5da;
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: auto;
  overflow-y: scroll;
}

/*message*/
.map4{
  box-sizing: border-box;
  width: 100%;
  height: 800px;
  border-left: 1px solid #d2d5da;
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: auto;
  overflow-y: scroll;
  position: relative;
}

.mapbutton1{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border: none;
  border-radius: 5px;
  margin-left: 45.55%;
  position: relative;
  z-index: 3;
  outline: none;
}
.mapbutton1_Clicked{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #1877f2;
  box-shadow: 0px 0px 15px -6px #1877f2;
  border: none;
  border-radius: 5px;
  margin-left: 45.55%;
  position: relative;
  z-index: 3;
  color: white;
  outline: none;
  transform:translateY(2.5px);
  transition: 0.15s;

}

.mapbutton2{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border: none;
  border-radius: 5px;
  margin-left: 5px; 
  position: relative;
  z-index: 3;
  outline: none;
}
.mapbutton2_Clicked{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #1877f2;
  box-shadow: 0px 0px 15px -6px #1877f2;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  z-index: 3;
  color: white;
  outline: none;
  transform:translateY(2.5px);
  transition: 0.15s;
}

.board{
  display: flex;
}

.boardbtn1{
  background-color: white;
  border: 3px solid #1877f2;
  border-radius: 15px;
  font-size: 1.7rem;
  padding: 10px;
  text-align: center;
  margin-left: 45%;
  margin-top: 5%;
  outline: none;
}

.boardbtn1:hover{
  background-color: #1877f2;
  color: white;
}

article{
  width: 400px;
  height: 180px;
  margin: 5px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  margin-top: 15px;
  background-color: white;
}

.articleBPA{
  width: 90%;
  height: 180px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  padding: 15px;
  font-weight: 700;
}

.colorblue{
  color: #1877f2;
  font-weight: bolder;
  font-size: 0.8rem;
}

.colorblue2{
  font-weight: bolder;
  font-size: 1.1rem;
  border: 2px solid #1877f2;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  margin-left: 40%;
}

.articleUBA1{
  width: 70%;
  height: 180px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  padding: 15px;
  font-weight: 700;
}
.articleUBA2{
  width: 70%;
  height: 180px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  padding: 15px;
  font-weight: 700;
}
.articleUBA3{
  width: 70%;
  height: 180px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  padding: 15px;
  font-weight: 700;
}

.previewsection{
  width: 45%;
  margin-left: 28%;
  margin-top: 2%;
  display: block;
  margin-bottom: 5%;
}

.previewArea{
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  padding: 15px;
  font-weight: 700;
  border-left: 20px solid #1877f2;
}

.previewArea2{
  width: 35%;
  height: 160px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  background-color: white;
  font-size: 0.8rem;
  line-height: 19px;
  text-align: left;
  padding: 10px;
  font-weight: 700;
  margin-left: 12%;
  margin-top: 5%;
  display: inline-block;
  border-left: 15px solid #1877f2;
}

.pva-title {
  text-align: center;
  margin-left: 40%;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #1877f2;
  padding: 5px;
  width: 20%;
}

.pva-sub1{
  width: 50%;
  float: left;
  font-size: 0.8rem;
}

.pva-sub2{
  width: 35%;
  float: right;
  font-size: 0.8rem;
}

.pva-sub3{
  width: 35%;
  float: left;
  margin-left: 20%;
  font-size: 0.7rem;
}

.pva-sub4{
  width: 35%;
  float: right;
  margin-right: 10%;
  font-size: 0.7rem;
}


.pva-main{
  color: #1877f2;
  font-size: 1rem;
}

.BPA p{
  margin: 0;
}

.viewall{
  width: 15%;
  height: 30px;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
  margin-left: 43%;
  margin-top: 2%;

}

.viewall:hover{
  background-color: #1877f2;
  color: white;
}

.review{
  width: 45%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 1rem;
  background-color: white;
  margin-left: 28%;
  display: block;
  border-top: 2px solid #48bbff;
  border-bottom: 8px solid #1877f2;
  border-right: 4px solid #48a6ff;
  border-left: 4px solid #48a6ff;
}

.slidetext{
  margin-top: 10%;
  font-size: 0.8rem;
  line-height: 16px;
}

.sliderr{
}

.colorblue3{
  font-size: 1.3rem;
  color: #1877f2;
}

.colorblue4{
  font-size: 0.8rem;
  color: #1877f2;
}

.board .article .reviewArea{
  font-size: 22px;
}
.board .article .reviewTitle{
  font-size: 15px;
  font-weight: bolder;
}
.board .article .reviewMain{
  font-size: 15px;
  font-weight: bolder;
}
.board .article .reviewSub{
  font-size: 15px;
  font-weight: bolder;
}

.signup{
}

.signupform{
  width: 45%;
  height: 300px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: white;
  margin-left: 28%;
  margin-top: 5%;
  text-align: center;
}

.signupform2{
  width: 45%;
  height: 290px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: white;
  margin-left: 28%;
  margin-top: 2%;
  text-align: center;
}

.signupform3{
  width: 45%;
  height: 450px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: white;
  margin-left: 28%;
  margin-top: 2%;
  text-align: center;
}

.updatePWD input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 50%;
}

.updateNewPWD input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 1%;
}

.signupinput1{
  width: 40%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 70px;
  position: relative;
  z-index: 1;
  display: inline-block;
  resize: none;
}

.signupinput2{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.signupinput3{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
}

.signupform input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
}

.signupform2 input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 3%;
}

.signupform3 input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 3%;
}

.signupform .mailsubmit{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-weight: bold;
  font-size: 1rem;
  width: 15%;
  height: 40px;
  margin: 0;
  text-align: center;
  position: relative;
  left: 40%;
  z-index: 2;
  display: inline-block;
  bottom:45px;
}

.signupform3 .submit{
  margin-top: 20px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 70px;
  height: 29px;
}

.signupform .mailsubmit:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.signupform3 .submit:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.signupform3 .reset{
  margin-top: 20px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 70px;
  height: 34.5px;
}

.signupform3 .reset:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.login{
  font-size: 1rem;
  height: 700px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  /* border: 4px solid blue;
  border-radius: 15px; */
  margin-top: 5%;
  margin-bottom: 80px;
}

.nomargin{
  margin: 0 auto;
  display: block;
  margin-bottom: -50px;
}

.loginform{
  width: 45%;
  height: 600px;
  margin-left: 28%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: white;
}

.loginID{
  margin-top: 70px;
}

.loginPW {
}

.loginInput {
}

.loginform input{
  width: 70%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-left: 0%;
}

.pwdEditbutton{
  width:30%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 5px;
}

.pwdEditbutton:hover{
  background-color: #1877f2;
  color: white;
  border: 2px solid #1877f2;
}

.loginform .signButton{
  width:30%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
}

.loginform .signButton:hover{
  background-color: #1877f2;
  color: white;
  border: 2px solid #1877f2;
}

.miniID .newID{
  font-size: 1rem;
  border: black;
  display: inline;
}

.miniID .findID{
  font-size: 1rem;
  display: inline;
}

.GroupSNS{
  display: flex;
  float: center;
  margin-top: 10%;
  justify-content: center;
  text-align: center;
}

.GoogleID{
  width: 50%;
  font-size: 30px;
}

.NaverID{
  width: 50%;
  font-size: 30px;
}

.FacebookID{
  width: 50%;
  font-size: 30px;
}

.boardmain{
  height: 1200px;
  text-align: center;
  margin-left: 0px;
  margin-top: 75px;
}

.boardmain2{
  height: 1200px;
}

.boardmain .board .article{
  width: 615px;
  height: 350px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.writeform{
  width: 45%;
  height: 800px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 28%;
  font-size: 1rem;
}

.writeform10{
  width: 45%;
  height: 850px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 28%;
  font-size: 0.8rem;
}

.writeform2{
  width: 60%;
  height: 1400px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 20.5%;
  font-size: 1rem;
}

.writeform5{
  width: 45%;
  height: 800px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 28%;
  font-size: 1rem;
}

.writeformgroup1{
  width: 45%;
  float: left;
}

.writeformgroup2{
  width: 30%;
  float: right;
}

.writeheader{
  color: white;
}

.writeform5 .writetitle{
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20%;
}

.writeform5 .writecontent{
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5%;
  margin-left: 20%;
}

.writetitle{
  font-weight: bold;
  font-size: 0.8rem;
  margin: 70px 0px 20px 50px
}

.nolog-title{
  font-weight: bold;
  font-size: 1rem;
  margin: 70px 0px 20px 50px;
  display: inline-block;
  margin-left: 15%;
}

.nolog-title2{
  font-weight: bold;
  font-size: 1rem;
  margin: 70px 0px 20px 50px;
  display: inline-block;
  margin-left: 15%;
  margin-top: 10%;
}

.writetitleinput{
  width: 50%;
  height: 30px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 3%;
  margin: auto;
  margin-left: 5%;
}

.writetitleinput2{
  width: 100%;
  height: 30px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 3%;
  margin: auto;
  margin-left: 12%;
}

.writecontent{
  font-weight: bold;
  font-size: 0.8rem;
  margin: 20px 0px 20px 50px;
}

.fileuploader{
  margin-left: 25%;
  margin-right: 20%;
}

.writecontentinput{
  width: 51%;
  height: 150px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 3%;
  margin: auto;
  margin-left: 5%;
  resize: none;
}

.writecontentinput2{
  width: 63%;
  height: 150px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top: 3%;
  margin: auto;
  margin-left: 12%;
  resize: none;
}

.writeday{
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px 00px 50px;
}

.startday{
  width: 25%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 1%;
  margin-left: 25%;
  display: inline-block;
}

.endday{
  width: 25%;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 0%;
  margin-left: 5%;
  display: inline-block;
}

.writesubmit{
  margin-top: 20px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 320px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 120px;
  height: 50px;
}

.writesubmit:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 128px;
  height: 56px;
}
.writereset:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset2{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 45%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 15%;
  height: 56px;
  margin-top: 5%;
}
.writereset2:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset3{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 27%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 15%;
  height: 56px;
  margin-top: 5%;
}
.writereset3:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset5{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 39%;
  height: 56px;
  margin-top: 3%;
  margin-left: 28%;
}
.writereset5:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset6{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 40%;
  height: 56px;
  margin-top: 3%;
  margin-left: 28%;
}
.writereset6:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.center{
  margin-left: 38%;
}

aside{
  display: flex;
  float: left;
  position: fixed;
  top: 0;
  z-index: 6;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 34%;
}

.asider1{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-left: 0x;
  margin-top: 7px;
}
.asider1:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider2{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider2:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider3{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider3:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider4{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider4:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asiderpng{
  width: 30px;
  height: 30px;
}

.forfooter{
  margin-top: 300px;
}

footer{
  /* width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -1px 22px -6px black;
  position: relative;
  bottom: 0;
  z-index: 5; */
  margin: 25px 0px 15px 0px;
  text-align: center;
}

/* 카카오 맵 마커 */
.customoverlay {position:relative;bottom:50px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:10px;font-weight:bold;overflow:hidden;background: #00b1f7;background: #00b1f7 url('/arrow_white.png') no-repeat right 8px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;height:35px;margin-top:-15px;padding:3px;font-size:14px;font-weight:bold; border-left: 7px solid #1877f2;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('/vertex_white.png')}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:800px) {

}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  aside{
    display: flex;
    float: left;
    position: fixed;
    top: 0;
    z-index: 5;
    margin-top: 5px;
    box-sizing: border-box;
    margin-left: 200px;
    width: 100%;
  }

  .map{
    box-sizing: border-box;
    width: 45%;
    height: 50vh;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px -12px black;
    margin-left: 28%;
  }

  .map2{
    box-sizing: border-box;
    width: 45%;
    height: 50vh;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px -12px black;
    margin-left: 28%;
    text-align: center;
    font-size: 3rem;
    text-align: center;
    line-height: 50vh;
  }

  .board .article .previewTitle{
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
  }

  .writeform{
    width: 45%;
    height: 900px;
    box-shadow: 0px 0px 20px -12px black;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 10%;
    margin-left: 28%;
    font-size: 100%;
  }
  
  .writeheader{
    color: white;
  }
  
  .writetitle{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0px 20px 50px
  }
  
  .writetitleinput{
    margin-left: 2%;
    border: none;
    background-color: #f0f2f5;
    border-radius: 7px;
    height: 30px;
    width: 40px;
    padding-right: 300px;
    border: 2px solid #bababa;
    outline-color: #1877f2;
  }
  
  .writecontent{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0px 20px 50px;
  }
  
  .writecontentinput{
    margin-left: 2%;
    border: none;
    background-color: #f0f2f5;
    border-radius: 7px;
    height: 200px;
    width: 95%;
    resize: none;
    border: 2px solid #bababa;
    outline-color: #1877f2;
  }
  
  .writeday{
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0px 0px 50px;
  }
  
  .startday{
    margin-top: 5%;
    margin-right: 15px;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    border-radius: 7px;
    width: 50%;
    display: block;
    margin-left: 25%;
    height: 50px;
  }
  
  .endday{
    margin-top: 5%;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    border-radius: 7px;
    width: 50%;
    display: block;
    margin-left: 25%;
    height: 50px;
  }

  .writesubmit{
    margin-top: 50px;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    width: 21%;
  }
  
  .writereset{
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    width: 22%;
  }

  .signupform{
    width: 45%;
    height: 790px;
    font-weight: bold;
    box-shadow: 0px 0px 20px -12px black;
    border-radius: 15px;
    font-size: 25px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 28%;
    margin-top: 10%;
  }

  .loginform{
    width: 45%;
    height: 600px;
    margin-left: 28%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 20px -12px black;
    border-radius: 15px;
    font-size: 1.3rem;
    box-sizing: border-box;
    background-color: white;
  }

  .welcome{
    font-size: 0.7rem;
    position: fixed;
    z-index: 8;
    top: 0;
    right: 10%;
    margin-left: 1%;
  }


  .welcome{
    font-size: 1px;
    display: none;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
  aside{
    display: block;
    top: 5%;
  }

  aside{
    position: fixed;
    display: none;
  }

  .welcome{
    display: none;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {

}
/* 마이페이지 임의로 만들기 시작 */
.UserInformation{
  width: 45%;
  height: 800px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 28%;
  font-size: 1rem;
}
.UserInformation-article1{
  float: left;
  width: 20%;
}
.UserInformation-article2{
  float: right;
  width: 80%;
}

.updatePWD{
}

.updateNewPWD {
}

.UserInformation-ul{
  font-size: 1.05rem;
  font-weight: 900;
  float: left;
  margin-bottom: 50%;
  margin-top: 50%;
  color: #1877f2;
}

.UserInformation-li{
  font-size: 0.8rem;
  font-weight: 900;
  float: left;
  margin-bottom: 15%;
  margin-top: 15%;
}

.chatting-title{
  font-size: 1.05rem;
  font-weight: 900;
  float: left;
  margin-bottom: 30px;
  margin-top: 50%;
  color: #1877f2;
}

.chattitle{
  margin-bottom: 30%;
}

.chatting-box{
  margin-bottom: 40%;
  background-color: #f0f2f5;
  height: 60px;
  width: 150%;
  border-radius: 15px;
  padding-left: 0%;
}

.chatting-user{
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  float: left;
  margin-left: 10%;
  margin-bottom: 1%;
}

.chatting-text{
  font-size: 0.8rem;
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  color: #888;
}

.chatting-time{
  font-size: 0.35rem;
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 6.5%;
  color: #888;
}

.chat-input-box{
  position: absolute;
  bottom: 0;
  margin-left: 0;
}

.chat-input{
  background-color: #f0f2f5;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 300%;
  height: 65px;
  margin-left: 60px;
  font-weight: 600;
}

.your-message{
  height: 60px;
  background-color: #f0f2f5;
  font-size: 1.3rem;
  line-height: 21px;
  display: block;
  margin-bottom: 10px;
}

.my-message{
  height: 60px;
  background-color: #1877f2;
  color: white;
  font-size: 1.3rem;
  line-height: 21px;
  margin-right: -400px;
  margin-left: 400px;
  margin-bottom: 10px;
}
/* 마이페이지 임의로 만들기 끝 */