body{
  background-color: #f0f2f5;
  position: relative;
  width: 100%;
  font-size: 100%;
}

header{
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 1px 20px -12px black;
  position: fixed;
  top: 0;
  z-index: 5;
}

title{
  font-size: larger;
  font-weight: bold;
  color: #1877f2;
}

.logopng{
  float: left;
  margin-left: 17px;
  width: 150px;
  height: 50px;
  margin-top: 5px;
}

.logotext{
  float: left;
}

.headersearch{
  border: none;
  background-color: #f0f2f5;
  border-radius: 100px;
  width: 230px;
  height: 38px;
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.loginpng{
  margin-right: 0px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: #e4e6eb;
  padding: 8px;
}

.loginpng2{
  margin-right: 0px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
  border: 2px solid #1877f2;
  display: flex;
  float: left;
}

.loginpng3{
  margin-right: 20px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
}

.loginpng4{
  margin-right: 50px;
  box-sizing: border-box;
  margin-top: 7px;
  width: 45px;
  border-radius: 15px;
  background-color: white;
  padding: 8px;
  border: 2px solid #1877f2;
}

.loginpng:hover{
  border: 2px solid #c2c5ca;
  background-color: #c2c5ca;
}

.loginpng2:hover{
  border: 3px solid #1877f2;
  border-radius: 3px;
  background-color: white;
  transition: 0.15s;
}

.loginpng3:hover{
  /* border: 2px solid #c2c5ca;
  background-color: #c2c5ca; */
}

a{ text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none;
}

li{
  list-style: none;
  display: flex;
  float: right;
}

ul{
  margin-left: 30px;
  margin-right:50px;
}

main{
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
}

.map{
  box-sizing: border-box;
  width: 45%;
  height: 65vh;
  border-radius: 15px;
  margin-top: 5%;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
  margin-left: 28%;
}

.map2{
  box-sizing: border-box;
  width: 45%;
  height: 600px;
  border-radius: 15px;
  margin-top: 5%;
  background-color: white;
  box-shadow: 0px 0px 20px -12px black;
  margin-left: 28%;
  font-size: 5rem;
  text-align: center;
  line-height: 50vh;
}

.mapbutton1{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border: none;
  border-radius: 5px;
  margin-left: 45.55%;
  position: relative;
  z-index: 5;
  outline: none;
}
.mapbutton1_Clicked{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #1877f2;
  box-shadow: 0px 0px 15px -6px #1877f2;
  border: none;
  border-radius: 5px;
  margin-left: 45.55%;
  position: relative;
  z-index: 5;
  color: white;
  outline: none;
  transform:translateY(2.5px);
  transition: 0.15s;

}

.mapbutton2{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border: none;
  border-radius: 5px;
  margin-left: 5px; 
  position: relative;
  z-index: 5;
  outline: none;
}
.mapbutton2_Clicked{
  width: 80px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #1877f2;
  box-shadow: 0px 0px 15px -6px #1877f2;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  z-index: 5;
  color: white;
  outline: none;
  transform:translateY(2.5px);
  transition: 0.15s;
}

.previewsection{
  height: 460px;
  width: 45%;
  margin-left: 28%;
  margin-top: 2%;
  position: relative;
  z-index: 4;
}

.board{
  display: flex;
}

article{
  width: 400px;
  height: 180px;
  margin: 5px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  margin-top: 15px;
  background-color: white;
}

.articleBPA{
  width: 400px;
  height: 180px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  margin-top: 15px;
  background-color: white;
  font-size: 14px;
  line-height: 1rem;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
}

.board .article .previewArea{
  font-size: 1rem;
  color: #1877f2;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}
.board .article .previewTitle{
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.BPA p{
  margin: 0;
}

.viewall{
  width: 15%;
  height: 30px;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 0px 15px -6px black;
  border-radius: 5px;
  float: right;
  margin: 0px 10px 0px 0px;
}

.viewall:hover{
  background-color: #1877f2;
  color: white;
  z-index: 5;
  position: relative;
}

.review{
  width: 45%;
  height: 200px;
  margin-top: 50px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 20px;
  background-color: white;
  margin-left: 28%;
  position: relative;
}

.slidetext span{
  color: #1877f2;
}

.board .article .reviewArea{
  font-size: 22px;
}
.board .article .reviewTitle{
  font-size: 15px;
  font-weight: bolder;
}
.board .article .reviewMain{
  font-size: 15px;
  font-weight: bolder;
}
.board .article .reviewSub{
  font-size: 15px;
  font-weight: bolder;
}

.signup{
  margin-top: 100px;
}

.signupform{
  width: 900px;
  height: 790px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 25px;
  box-sizing: border-box;
  background-color: white;
  margin-left: 520px;
  margin-top: 50px;
}

.signupinput1{
  width: 1000px;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 20px;
  line-height: 20px;
  margin-left: 200px;
  margin-top: 100px;
  text-align: left;
}

.signupform input{
  width: 1000px;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 20px;
  line-height: 20px;
  margin-left: 200px;
  margin-bottom: 20px;
  text-align: left;
}

.signupform .submit{
  margin-top: 20px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  height: 50px;
}

.signupform .submit:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.signupform .reset{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  height: 50px;
}

.signupform .reset:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.login{
  font-size: 30px;
  height: 700px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  /* border: 4px solid blue;
  border-radius: 15px; */
  margin-top: 100px;
  margin-bottom: 80px;
}

.nomargin{
  margin: 0 auto;
  display: block;
  margin-bottom: -50px;
}

.loginform{
  width: 900px;
  height: 600px;
  margin-left: 520px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  font-size: 30px;
  box-sizing: border-box;
  background-color: white;
}

.loginID{
  margin-top: 70px;
  margin-left: -270px;
}

.loginPW {
  margin-left: -270px;
}

.loginInput {
}

.loginform input{
  width: 1000px;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 20px;
  line-height: 20px;
  margin-left: 270px;
}

.loginform .signButton{
  width: 500px;
  height: 40px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  font-size: 20px;
  line-height: 20px;
}

.loginform .signButton:hover{
  background-color: #1877f2;
  color: white;
  border: 2px solid #1877f2;
}

.miniID .newID{
  font-size: 20px;
  border: black;
  display: inline;
}

.miniID .findID{
  font-size: 20px;
  display: inline;
}

.GroupSNS{
  display: flex;
  float: left;
  margin-top: 150px;
}

.GoogleID{
  width: 250px;
  font-size: 30px;
  margin: 0px 20px;
}

.NaverID{
  width: 250px;
  font-size: 30px;
  margin: 0px 20px;
}

.FacebookID{
  width: 250px;
  font-size: 30px;
  margin: 0px 20px;
}

.boardmain{
  height: 1200px;
  text-align: center;
  margin-left: 0px;
  margin-top: 75px;
}

.boardmain .board .article{
  width: 615px;
  height: 350px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.writeform{
  width: 45%;
  height: 1000px;
  box-shadow: 0px 0px 20px -12px black;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 5%;
  margin-left: 28%;
  font-size: 100%;
}

.writeheader{
  color: white;
}

.writetitle{
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0px 20px 50px
}

.writetitleinput{
  margin-left: 2%;
  border: none;
  background-color: #f0f2f5;
  border-radius: 7px;
  height: 50px;
  width: 30%;
  padding-right: 300px;
  border: 2px solid #bababa;
  outline-color: #1877f2;
}

.writecontent{
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0px 20px 50px;
}

.writecontentinput{
  margin-left: 2%;
  border: none;
  background-color: #f0f2f5;
  border-radius: 7px;
  height: 250px;
  width: 94%;
  resize: none;
  border: 2px solid #bababa;
  outline-color: #1877f2;
}

.writeday{
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px 00px 50px;
}

.startday{
  margin-top: 10px;
  margin-right: 15px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  border-radius: 7px;
  width: 220px;
  display: inline-block;
  margin-left: 230px;
  height: 50px;
}

.endday{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  border-radius: 7px;
  width: 220px;
  display: inline-block;
  height: 50px;
}

.writesubmit{
  margin-top: 50px;
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 320px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  height: 50px;
}

.writesubmit:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

.writereset{
  background-color: #f0f2f5;
  border: 2px solid #bababa;
  outline-color: #1877f2;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 128px;
  height: 56px;
}
.writereset:hover{
  background-color: #1877f2;
  color: white;
  border-color: #1877f2;
}

aside{
  display: flex;
  float: left;
  position: fixed;
  top: 0;
  z-index: 5;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
}

.asider1{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-left: 670px;
  margin-top: 7px;
}
.asider1:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider2{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider2:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider3{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider3:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asider4{
  box-sizing: border-box;
  margin-top: 0px;
  width: 150px;
  height: 50px;
  margin-top: 7px;
}
.asider4:hover{
  border-bottom: 3px solid #1877f2;
  border-radius: 1px;
}
.asiderpng{
  width: 30px;
  height: 30px;
}

.forfooter{
  margin-top: 300px;
}

footer{
  /* width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -1px 22px -6px black;
  position: relative;
  bottom: 0;
  z-index: 5; */
  margin: 25px 0px 15px 0px;
  text-align: center;
}

/* 카카오 맵 마커 */
.customoverlay {position:relative;bottom:50px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:10px;font-weight:bold;overflow:hidden;background: #00b1f7;background: #00b1f7 url('/arrow_white.png') no-repeat right 8px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;height:35px;margin-top:-15px;padding:3px;font-size:14px;font-weight:bold; border-left: 7px solid #1877f2;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('/vertex_white.png')}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:800px) {

}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  aside{
    display: flex;
    float: left;
    position: fixed;
    top: 0;
    z-index: 5;
    margin-top: 5px;
    box-sizing: border-box;
    margin-left: -500px;
    width: 100%;
  }

  .map{
    box-sizing: border-box;
    width: 45%;
    height: 50vh;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px -12px black;
    margin-left: 28%;
  }

  .map2{
    box-sizing: border-box;
    width: 45%;
    height: 50vh;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px -12px black;
    margin-left: 28%;
    text-align: center;
    font-size: 3rem;
    text-align: center;
    line-height: 50vh;
  }

  .board .article .previewTitle{
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
  }

  .writeform{
    width: 45%;
    height: 900px;
    box-shadow: 0px 0px 20px -12px black;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 10%;
    margin-left: 28%;
    font-size: 100%;
  }
  
  .writeheader{
    color: white;
  }
  
  .writetitle{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0px 20px 50px
  }
  
  .writetitleinput{
    margin-left: 2%;
    border: none;
    background-color: #f0f2f5;
    border-radius: 7px;
    height: 30px;
    width: 40px;
    padding-right: 300px;
    border: 2px solid #bababa;
    outline-color: #1877f2;
  }
  
  .writecontent{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0px 20px 50px;
  }
  
  .writecontentinput{
    margin-left: 2%;
    border: none;
    background-color: #f0f2f5;
    border-radius: 7px;
    height: 200px;
    width: 95%;
    resize: none;
    border: 2px solid #bababa;
    outline-color: #1877f2;
  }
  
  .writeday{
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0px 0px 50px;
  }
  
  .startday{
    margin-top: 5%;
    margin-right: 15px;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    border-radius: 7px;
    width: 50%;
    display: block;
    margin-left: 25%;
    height: 50px;
  }
  
  .endday{
    margin-top: 5%;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    border-radius: 7px;
    width: 50%;
    display: block;
    margin-left: 25%;
    height: 50px;
  }

  .writesubmit{
    margin-top: 50px;
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    width: 21%;
  }
  
  .writereset{
    background-color: #f0f2f5;
    border: 2px solid #bababa;
    outline-color: #1877f2;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    width: 22%;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
  aside{
    display: block;
    top: 5%;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {

}
/* 마이페이지 임의로 만들기 시작 */
.UserInformation{
  margin: 6rem;
  padding: 22rem 0;
  background-color: white;
  float: none;
}
.UserInformation-article1{
  float: left;
  width: 30%;
  margin: -230px 0 0 0;
  padding: 0;
}
.UserInformation-article2{
  float: right;
  margin: -230px 0 0 0;
  width: 70%;
}
.updatePWD{
  margin-top: 0px;
  margin-left: 0px;
}

.updateNewPWD {
  margin-left: 0px;
}

.UserInformation-ul{
  font-size: 1.3rem;
}

.UserInformation-li{
  margin: 20px 0 0 30px;
  float: none;
}
/* 마이페이지 임의로 만들기 끝 */